version: "2"
services:
  db:
    image: "mysql:5.7"
    volumes:
      - "./persist/database:/var/lib/mysql"
    environment:
      - "MYSQL_ROOT_PASSWORD=asdfsadf"
    ports:
      - "3606:3306"
  api:
    image: "node:11.15.0"
    volumes:
      - ".:/usr/src"
      - "./persist/firmwares:/usr/firmwares"
    working_dir: "/usr/src/api"
    command: "npm run watch:poll"
    environment:
      - "DB_HOST=db"
      - "DB_USER=root"
      - "DB_PASSWORD=asdfasdf"
      - "FIRMWARE_DIR=/usr/firmwares"
    ports:
      - "80:80"
    links:
      - "db"